#chatroom-page
  #chatroom-list
    - @channels.each do |channel|
      %span= channel.name

  #chatroom-view
    #interactive-board

    = render partial: 'messages/message_form', :locals => {:message => @message, :channel => @channel}

  = link_to 'Logout', :logout, :method => :delete
