#chatroom-page
  #chatroom-list
    - @channels.each do |channel|
      %span= channel.name

  #chatroom-view
    #interactive-board
      - @channel.users.uniq.each do |user|
        .sprite{:data => {:user_id => user.id, :x_pos => user.avatar.x_pos, :y_pos => user.avatar.y_pos}}
          .chat-bubble

    = render partial: 'messages/message_form', :locals => {:message => @message, :channel => @channel}

  = link_to 'Logout', :logout, :method => :delete
